In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing data set from aemo.com.au/energy-systems/electricity/national-electricity-market-nem/data-nem
df = pd.read_csv('../csv/PRICE_AND_DEMAND_202301_NSW1.csv')
df.head()

  REGION       SETTLEMENTDATE  TOTALDEMAND     RRP PERIODTYPE
0   NSW1  2023/01/01 00:05:00      6906.63  140.40      TRADE
1   NSW1  2023/01/01 00:10:00      6854.28  133.96      TRADE
2   NSW1  2023/01/01 00:15:00      6856.32  120.00      TRADE
3   NSW1  2023/01/01 00:20:00      6796.27  118.99      TRADE
4   NSW1  2023/01/01 00:25:00      6805.55  118.99      TRADE

In [4]:
df.dtypes

REGION             object
SETTLEMENTDATE     object
TOTALDEMAND       float64
RRP               float64
PERIODTYPE         object
dtype: object

In [5]:
df['Date_Time'] = pd.to_datetime(df['SETTLEMENTDATE'], dayfirst=True)
df['Day'] = df['Date_Time'].dt.day
df['Month'] = df['Date_Time'].dt.month
df['Year'] = df['Date_Time'].dt.year
df['Hour'] = df['Date_Time'].dt.hour
df['Minute'] = df['Date_Time'].dt.minute
df

,REGION,SETTLEMENTDATE,TOTALDEMAND,RRP,PERIODTYPE,Date_Time,Day,Month,Year,Hour,Minute
0,NSW1,2023/01/01 00:05:00,6906.63,140.40,TRADE,2023-01-01 00:05:00,1,1,2023,0,5
1,NSW1,2023/01/01 00:10:00,6854.28,133.96,TRADE,2023-01-01 00:10:00,1,1,2023,0,10
2,NSW1,2023/01/01 00:15:00,6856.32,120.00,TRADE,2023-01-01 00:15:00,1,1,2023,0,15
3,NSW1,2023/01/01 00:20:00,6796.27,118.99,TRADE,2023-01-01 00:20:00,1,1,2023,0,20
4,NSW1,2023/01/01 00:25:00,6805.55,118.99,TRADE,2023-01-01 00:25:00,1,1,2023,0,25
...,...,...,...,...,...,...,...,...,...,...,...
8923,NSW1,2023/01/31 23:40:00,7368.45,125.66,TRADE,2023-01-31 23:40:00,31,1,2023,23,40
8924,NSW1,2023/01/31 23:45:00,7306.86,120.06,TRADE,2023-01-31 23:45:00,31,1,2023,23,45
8925,NSW1,2023/01/31 23:50:00,7281.33,120.06,TRADE,2023-01-31 23:50:00,31,1,2023,23,50
8926,NSW1,2023/01/31 23:55:00,7300.71,120.06,TRADE,2023-01-31 23:55:00,31,1,2023,23,55
8927,NSW1,2023/02/01 00:00:00,7266.35,128.00,TRADE,2023-02-01 00:00:00,1,2,2023,0,0